# Code owners for files typically changed by Dependabot
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-file-location

# GitHub Actions workflows
/.github/workflows/** @hf-krechan

# Docker files
/Dockerfile @Hochfrequenz/frontend-developers-review-team
/docker-compose.yaml @Hochfrequenz/frontend-developers-review-team

