openapi: 3.0.3
info:
  title: AHB-Tabellen API Documentation
  description: >
    This is the description for the API of the ahb-tabellen web application.

    Some useful links:
    - [The machine-readable-anwendungshandbuecher repository](https://github.com/Hochfrequenz/machine-readable_anwendungshandbuecher)
    - [kohlr_AHB_i - the CLI tool to scrape the AHB tables from docx files](https://github.com/Hochfrequenz/kohlrahbi)
  termsOfService: http://swagger.io/terms/
  contact:
    email: kevin.krechan@hochfrequenz.de
  license:
    name: GPL-3.0
    url: https://www.gnu.org/licenses/gpl-3.0.en.html
  version: 0.0.1
externalDocs:
  description: JSON files of the AHB documents
  url: https://github.com/Hochfrequenz/machine-readable_anwendungshandbuecher
servers:
  - url: https://ahb-tabellen.hochfrequenz.de/api/v1
tags:
  - name: ahb
    description: Everything about AHB documents
  - name: formate
    description: EDIFACT formats like UTILMD, MSCONS etc
  - name: search
    description: Find information in AHB documents
  - name: format-versions
    description: EDIFACT format versions e.g. `FV2510`
  - name: prüfidentifikatoren
    description: Prüfidentifikatoren which is defined by edi@energy, e.g. 55001
  - name: maintenance
    description: Endpoints which have mainly a technical focus
paths:
  /api/ahb/{format-version}/{pruefi}:
    get:
      tags:
        - ahb
      summary: Get an AHB document for a Pruefidentifikator from the provided Formatversion
      operationId: getAhb
      parameters:
        - name: format-version
          in: path
          description: Formatversion of the AHB to return
          required: true
          schema:
            $ref: '#/components/schemas/FormatVersion'
        - name: pruefi
          in: path
          description: Pruefidentifikator of the AHB to return
          required: true
          schema:
            type: string
            example: '25007'
        - name: format
          in: query
          description: Format of the AHB file to return
          required: false
          schema:
            type: string
            enum: [json, xlsx, csv]
            default: json
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ahb'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string
                format: binary
  /api/formate:
    get:
      tags:
        - formate
      summary: Get a list of all available formate
      operationId: getFormate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Format'
                example:
                  [
                    CONTRL,
                    MSCONS,
                    ORDERS,
                    ORDRSP,
                    PARTIN,
                    PRICAT,
                    QUOTES,
                    REMADV,
                    REQOTE,
                    UTILMD,
                    UTILTS,
                  ]
  /api/search/query:
    post:
      tags:
        - search
      summary: Query AHB lines with filters, sorting, pagination
      operationId: searchAhbLines
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchQueryRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchQueryResponse'
        '400':
          description: invalid request
  /api/format-versions:
    get:
      tags:
        - format-versions
      summary: Get a list of all available format versions
      operationId: getFormatVersions
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: [FV2310, FV2404, FV2410]
  /api/direction-values:
    get:
      tags:
        - search
      summary: Get distinct sender and empfaenger values from the database
      operationId: getDirectionValues
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectionValues'
  /api/ahb-diff/{pruefi}:
    get:
      tags:
        - ahb
      summary: Get a diff comparison between two format versions of the same Pruefidentifikator
      operationId: getAhbDiff
      parameters:
        - name: pruefi
          in: path
          description: Pruefidentifikator to compare
          required: true
          schema:
            type: string
            pattern: '^\d{5}$'
            example: '55014'
        - name: format-version-a
          in: query
          description: First format version (typically newer)
          required: true
          schema:
            $ref: '#/components/schemas/FormatVersion'
        - name: format-version-b
          in: query
          description: Second format version (typically older)
          required: true
          schema:
            $ref: '#/components/schemas/FormatVersion'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AhbDiff'
        '404':
          description: Pruefidentifikator not found in one or both format versions
  /api/pruefidentifikatoren/{format-version}:
    get:
      tags:
        - prüfidentifikatoren
      summary: Get a list of all available Pruefidentifikators for a given format version
      operationId: getPruefis
      parameters:
        - name: format-version
          in: path
          description: Formatversion of the AHB to return
          required: true
          schema:
            $ref: '#/components/schemas/FormatVersion'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    pruefidentifikator:
                      type: string
                      pattern: '^\\d{5}$'
                      example: '31001'
                    name:
                      type: string
                      example: 'Pruefidentifikator Name'
  /version:
    get:
      tags:
        - maintenance
      summary: Get the current version of the AHB-Tabellen application
      operationId: getVersion
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'

components:
  schemas:
    SearchItem:
      type: object
      properties:
        format_version:
          type: string
          example: 'FV2410'
        format:
          type: string
          example: 'UTILMD'
        pruefidentifikator:
          type: string
          example: '25007'
        description:
          type: string
        segmentgroup_key:
          type: string
          example: 'SG6'
        segment_code:
          type: string
          example: 'NAD'
        data_element:
          type: string
          example: 'D_3035'
        qualifier:
          type: string
        line_ahb_status:
          type: string
        line_name:
          type: string
        bedingung:
          type: string
        direction:
          type: string
          description: inbound/outbound indicator
      required:
        - format_version
        - pruefidentifikator
    SortRule:
      type: object
      properties:
        field:
          type: string
          description: Sortable field name
          enum:
            [
              format_version,
              format,
              pruefidentifikator,
              description,
              segmentgroup_key,
              segment_code,
              data_element,
              qualifier,
              line_ahb_status,
              line_name,
              bedingung,
              direction,
            ]
        direction:
          type: string
          enum: [asc, desc]
          default: asc
      required:
        - field
    FilterValue:
      type: object
      description: One operator should be provided per field
      properties:
        eq:
          type: string
        neq:
          type: string
        contains:
          type: string
        startsWith:
          type: string
        endsWith:
          type: string
        in:
          type: array
          items:
            type: string
        isNull:
          type: boolean
        isNotNull:
          type: boolean
    SearchFilters:
      type: object
      properties:
        format_version:
          $ref: '#/components/schemas/FilterValue'
        format:
          $ref: '#/components/schemas/FilterValue'
        pruefidentifikator:
          $ref: '#/components/schemas/FilterValue'
        description:
          $ref: '#/components/schemas/FilterValue'
        segmentgroup_key:
          $ref: '#/components/schemas/FilterValue'
        segment_code:
          $ref: '#/components/schemas/FilterValue'
        data_element:
          $ref: '#/components/schemas/FilterValue'
        qualifier:
          $ref: '#/components/schemas/FilterValue'
        line_ahb_status:
          $ref: '#/components/schemas/FilterValue'
        line_name:
          $ref: '#/components/schemas/FilterValue'
        bedingung:
          $ref: '#/components/schemas/FilterValue'
        sender:
          $ref: '#/components/schemas/FilterValue'
        empfaenger:
          $ref: '#/components/schemas/FilterValue'
    SearchQueryRequest:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          default: 1
        pageSize:
          type: integer
          default: 25
          description: Maximum 200
        sort:
          type: array
          items:
            $ref: '#/components/schemas/SortRule'
        q:
          type: string
          description: Global case-insensitive search across the 11 listed fields
        filters:
          $ref: '#/components/schemas/SearchFilters'
      required:
        - page
        - pageSize
        - sort
        - q
    SearchQueryResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SearchItem'
        total:
          type: integer
        page:
          type: integer
        pageSize:
          type: integer
    Ahb:
      type: object
      properties:
        lines:
          type: array
          items:
            type: object
            properties:
              ahb_expression:
                type: string
                example: 'Must'
              conditions:
                type: string
              data_element:
                type: string
                example: '0062'
              guid:
                type: string
                format: uuid
                example: '123e4567-e89b-12d3-a456-426614174000'
              index:
                type: integer
                example: 1
              name:
                type: string
                example: 'Header Name'
              section_name:
                type: string
                example: 'Header Section'
              segment_code:
                type: string
                example: 'UNH'
              segment_group_key:
                type: string
                example: '001'
              value_pool_entry:
                type: string
                example: 'Entry1'
              line_type:
                type: string
                example: 'segment'
            required:
              - ahb_expression
              - data_element
              - guid
              - index
              - name
              - section_name
              - segment_code
              - segment_group_key
              - value_pool_entry
              - line_type
        meta:
          type: object
          properties:
            description:
              type: string
              example: 'API response meta description'
            direction:
              type: string
              example: 'inbound'
            pruefidentifikator:
              type: string
              example: '25007'
            versionsnummer:
              type: string
              example: '2.1c'
            veroeffentlichungsdatum:
              type: string
              example: '2025-04-17'
          required:
            - description
            - direction
            - pruefidentifikator
            - versionsnummer
            - veroeffentlichungsdatum
      required:
        - lines
        - meta
    FormatVersion:
      type: string
      example: 'FV2510'
    Format:
      type: string
      example: 'UTILMD'
    Version:
      type: object
      properties:
        version:
          type: string
          example: '1.0.3'
        buildDate:
          type: string
          example: '2024-01-15'
        commitHash:
          type: string
          example: 'a1b2c3d4'
        commitDate:
          type: string
          example: '2024-01-14'
        buildBranch:
          type: string
          example: 'main'
    DirectionValues:
      type: object
      properties:
        sender:
          type: array
          items:
            type: string
          example: ['LF', 'MSB', 'NB']
        empfaenger:
          type: array
          items:
            type: string
          example: ['LF', 'MSB', 'NB']
      required:
        - sender
        - empfaenger
    AhbDiff:
      type: object
      properties:
        lines:
          type: array
          items:
            $ref: '#/components/schemas/AhbDiffLine'
        meta:
          type: object
          properties:
            pruefidentifikator:
              type: string
              example: '55014'
            format_version_a:
              type: string
              example: 'FV2504'
            format_version_b:
              type: string
              example: 'FV2410'
            description_a:
              type: string
              nullable: true
              description: Description of the Pruefidentifikator in version A (new)
            description_b:
              type: string
              nullable: true
              description: Description of the Pruefidentifikator in version B (old)
          required:
            - pruefidentifikator
            - format_version_a
            - format_version_b
      required:
        - lines
        - meta
    AhbDiffLine:
      type: object
      description: A line in the AHB diff comparison, containing data from both versions joined from v_ahbtabellen
      properties:
        diff_status:
          type: string
          enum: [unchanged, modified, added, deleted]
          description: The diff status from v_ahb_diff
        id_path:
          type: string
          description: The id_path from v_ahb_diff used to join with v_ahbtabellen
        sort_path:
          type: string
          description: The sort_path for ordering
        old:
          $ref: '#/components/schemas/AhbDiffSide'
          description: Data from v_ahbtabellen for the old (B) version
          nullable: true
        new:
          $ref: '#/components/schemas/AhbDiffSide'
          description: Data from v_ahbtabellen for the new (A) version
          nullable: true
      required:
        - diff_status
        - id_path
        - sort_path
    AhbDiffSide:
      type: object
      description: AHB line data from v_ahbtabellen for one side of the comparison
      properties:
        segmentgroup_key:
          type: string
          nullable: true
        segment_code:
          type: string
          nullable: true
        data_element:
          type: string
          nullable: true
        qualifier:
          type: string
          nullable: true
        line_ahb_status:
          type: string
          nullable: true
        line_name:
          type: string
          nullable: true
        line_type:
          type: string
          nullable: true
        bedingung:
          type: string
          nullable: true
