openapi: 3.0.3
info:
  title: AHB-Tabellen API Documentation
  description: >
    This is the description for the API of the ahb-tabellen web application.

    Some useful links:
    - [The machine-readable-anwendungshandbuecher repository](https://github.com/Hochfrequenz/machine-readable_anwendungshandbuecher)
    - [kohlr_AHB_i - the CLI tool to scrape the AHB tables from docx files](https://github.com/Hochfrequenz/kohlrahbi)
  termsOfService: http://swagger.io/terms/
  contact:
    email: kevin.krechan@hochfrequenz.de
  license:
    name: GPL-3.0
    url: https://www.gnu.org/licenses/gpl-3.0.en.html
  version: 0.0.1
externalDocs:
  description: JSON files of the AHB documents
  url: https://github.com/Hochfrequenz/machine-readable_anwendungshandbuecher
servers:
  - url: https://ahb-tabellen.hochfrequenz.de/api/v1
tags:
  - name: ahb
    description: Everything about AHB documents
  - name: formate
    description: EDIFACT formats like UTILMD, MSCONS etc
  - name: search
    description: Find information in AHB documents
  - name: format-versions
    description: EDIFACT format versions e.g. `FV2510`
  - name: prüfidentifikatoren
    description: Prüfidentifikatoren which is defined by edi@energy, e.g. 55001
  - name: maintenance
    description: Endpoints which have mainly a technical focus
paths:
  /api/ahb/{format-version}/{pruefi}:
    get:
      tags:
        - ahb
      summary: Get an AHB document for a Pruefidentifikator from the provided Formatversion
      operationId: getAhb
      parameters:
        - name: format-version
          in: path
          description: Formatversion of the AHB to return (FVxxxx code, 'current', or an ISO date YYYY-MM-DD)
          required: true
          schema:
            $ref: '#/components/schemas/FormatVersion'
        - name: pruefi
          in: path
          description: Pruefidentifikator of the AHB to return
          required: true
          schema:
            type: string
            example: '25007'
        - name: format
          in: query
          description: Format of the AHB file to return
          required: false
          schema:
            type: string
            enum: [json, xlsx, csv]
            default: json
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ahb'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string
                format: binary
  /api/formate:
    get:
      tags:
        - formate
      summary: Get a list of all available formate
      operationId: getFormate
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Format'
                example:
                  [
                    CONTRL,
                    MSCONS,
                    ORDERS,
                    ORDRSP,
                    PARTIN,
                    PRICAT,
                    QUOTES,
                    REMADV,
                    REQOTE,
                    UTILMD,
                    UTILTS,
                  ]
  /api/search/query:
    post:
      tags:
        - search
      summary: Query AHB lines with filters, sorting, pagination
      operationId: searchAhbLines
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchQueryRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchQueryResponse'
        '400':
          description: invalid request
  /api/format-versions:
    get:
      tags:
        - format-versions
      summary: Get a list of all available format versions
      operationId: getFormatVersions
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: [FV2310, FV2404, FV2410]
  /api/direction-values:
    get:
      tags:
        - search
      summary: Get distinct sender and empfaenger values from the database
      operationId: getDirectionValues
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectionValues'
  /api/ahb-diff-summary:
    get:
      tags:
        - ahb
      summary: Get aggregated diff statistics for all Pruefidentifikators between two format versions
      operationId: getAhbDiffSummary
      parameters:
        - name: format-version-new
          in: query
          description: The newer format version to compare (FVxxxx code, 'current', or an ISO date YYYY-MM-DD)
          required: true
          schema:
            $ref: '#/components/schemas/FormatVersion'
        - name: format-version-old
          in: query
          description: The older format version to compare (FVxxxx code, 'current', or an ISO date YYYY-MM-DD)
          required: true
          schema:
            $ref: '#/components/schemas/FormatVersion'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AhbDiffSummary'
  /api/ahb-diff/{pruefi}:
    get:
      tags:
        - ahb
      summary: Get a diff comparison between two format versions of the same Pruefidentifikator
      operationId: getAhbDiff
      parameters:
        - name: pruefi
          in: path
          description: Pruefidentifikator to compare
          required: true
          schema:
            type: string
            pattern: '^\d{5}$'
            example: '55014'
        - name: format-version-new
          in: query
          description: The newer format version to compare (FVxxxx code, 'current', or an ISO date YYYY-MM-DD)
          required: true
          schema:
            $ref: '#/components/schemas/FormatVersion'
        - name: format-version-old
          in: query
          description: The older format version to compare (FVxxxx code, 'current', or an ISO date YYYY-MM-DD)
          required: true
          schema:
            $ref: '#/components/schemas/FormatVersion'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AhbDiff'
        '404':
          description: Pruefidentifikator not found in one or both format versions
  /api/pruefidentifikatoren/{format-version}:
    get:
      tags:
        - prüfidentifikatoren
      summary: Get a list of all available Pruefidentifikators for a given format version
      operationId: getPruefis
      parameters:
        - name: format-version
          in: path
          description: Formatversion of the AHB to return (FVxxxx code, 'current', or an ISO date YYYY-MM-DD)
          required: true
          schema:
            $ref: '#/components/schemas/FormatVersion'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    pruefidentifikator:
                      type: string
                      pattern: '^\\d{5}$'
                      example: '31001'
                    name:
                      type: string
                      example: 'Pruefidentifikator Name'
                    roles:
                      type: array
                      description: >-
                        Distinct sender/empfaenger role codes that appear anywhere in
                        this Pruefidentifikator's AHB lines
                      items:
                        type: string
                      example: ['LF', 'NB']
  /version:
    get:
      tags:
        - maintenance
      summary: Get the current version of the AHB-Tabellen application
      operationId: getVersion
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
  /api/datenstand:
    get:
      tags:
        - maintenance
      summary: Get the latest publication date of the AHB data
      operationId: getDatenstand
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datenstand'
  /api/health:
    get:
      tags:
        - maintenance
      summary: Health check of the application and its SQLite database
      description: >
        Health check endpoint consumed by [Oh Dear](https://ohdear.app/). The
        `oh-dear-health-check-secret` request header must match the server's configured secret.
        Returns HTTP 200 when all checks pass and HTTP 500 when at least one check failed or crashed.
      operationId: getHealth
      parameters:
        - name: oh-dear-health-check-secret
          in: header
          description: Shared secret that must match the server's configured Oh Dear health check secret.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: All health checks passed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '401':
          description: Missing or invalid health check secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckError'
        '500':
          description: At least one health check failed or crashed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '503':
          description: >
            Health check misconfiguration — the `OH_DEAR_HEALTH_CHECK_SECRET` environment
            variable is not set on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    SearchItem:
      type: object
      properties:
        format_version:
          type: string
          example: 'FV2410'
        format:
          type: string
          example: 'UTILMD'
        pruefidentifikator:
          type: string
          example: '25007'
        description:
          type: string
        segmentgroup_key:
          type: string
          example: 'SG6'
        segment_code:
          type: string
          example: 'NAD'
        data_element:
          type: string
          example: 'D_3035'
        qualifier:
          type: string
        line_ahb_status:
          type: string
        line_name:
          type: string
        bedingung:
          type: string
        direction:
          type: string
          description: inbound/outbound indicator
      required:
        - format_version
        - pruefidentifikator
    SortRule:
      type: object
      properties:
        field:
          type: string
          description: Sortable field name
          enum:
            [
              format_version,
              format,
              pruefidentifikator,
              description,
              segmentgroup_key,
              segment_code,
              data_element,
              qualifier,
              line_ahb_status,
              line_name,
              bedingung,
              direction,
            ]
        direction:
          type: string
          enum: [asc, desc]
          default: asc
      required:
        - field
    FilterValue:
      type: object
      description: >
        One operator should be provided per field. An empty filter object `{}` applies no
        constraint on that field.
      properties:
        eq:
          type: string
        neq:
          type: string
        contains:
          type: string
        startsWith:
          type: string
        endsWith:
          type: string
        in:
          type: array
          items:
            type: string
          description: >
            Match any of the listed values (SQL `IN`). An **empty array is ignored** — it
            applies no constraint on this field and therefore matches all rows, rather than
            matching none. Omit the `in` operator (or the whole filter) when there is nothing
            to filter by.
        isNull:
          type: boolean
        isNotNull:
          type: boolean
    SearchFilters:
      type: object
      properties:
        format_version:
          $ref: '#/components/schemas/FilterValue'
        format:
          $ref: '#/components/schemas/FilterValue'
        pruefidentifikator:
          $ref: '#/components/schemas/FilterValue'
        description:
          $ref: '#/components/schemas/FilterValue'
        segmentgroup_key:
          $ref: '#/components/schemas/FilterValue'
        segment_code:
          $ref: '#/components/schemas/FilterValue'
        data_element:
          $ref: '#/components/schemas/FilterValue'
        qualifier:
          $ref: '#/components/schemas/FilterValue'
        line_ahb_status:
          $ref: '#/components/schemas/FilterValue'
        line_name:
          $ref: '#/components/schemas/FilterValue'
        bedingung:
          $ref: '#/components/schemas/FilterValue'
        sender:
          $ref: '#/components/schemas/FilterValue'
        empfaenger:
          $ref: '#/components/schemas/FilterValue'
    SearchQueryRequest:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          default: 1
        pageSize:
          type: integer
          default: 25
          description: Maximum 200
        sort:
          type: array
          items:
            $ref: '#/components/schemas/SortRule'
        q:
          type: string
          description: Global case-insensitive search across the 11 listed fields
        filters:
          $ref: '#/components/schemas/SearchFilters'
      required:
        - page
        - pageSize
        - sort
        - q
    SearchQueryResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SearchItem'
        total:
          type: integer
        page:
          type: integer
        pageSize:
          type: integer
    Ahb:
      type: object
      properties:
        lines:
          type: array
          items:
            type: object
            properties:
              ahb_expression:
                type: string
                example: 'Must'
              conditions:
                type: string
              data_element:
                type: string
                example: '0062'
              guid:
                type: string
                format: uuid
                example: '123e4567-e89b-12d3-a456-426614174000'
              index:
                type: integer
                example: 1
              name:
                type: string
                example: 'Header Name'
              section_name:
                type: string
                example: 'Header Section'
              segment_code:
                type: string
                example: 'UNH'
              segment_group_key:
                type: string
                example: '001'
              value_pool_entry:
                type: string
                example: 'Entry1'
              ebd_key:
                type: string
                nullable: true
                description: EBD decision-tree key (e.g. E_0401) detected in value_pool_entry, if any
                example: 'E_0401'
              line_type:
                type: string
                example: 'segment'
            required:
              - ahb_expression
              - data_element
              - guid
              - index
              - name
              - section_name
              - segment_code
              - segment_group_key
              - value_pool_entry
              - line_type
        meta:
          type: object
          properties:
            description:
              type: string
              example: 'API response meta description'
            direction:
              type: string
              example: 'inbound'
            pruefidentifikator:
              type: string
              example: '25007'
            versionsnummer:
              type: string
              example: '2.1c'
            veroeffentlichungsdatum:
              type: string
              example: '2025-04-17'
          required:
            - description
            - direction
            - pruefidentifikator
            - versionsnummer
            - veroeffentlichungsdatum
      required:
        - lines
        - meta
    FormatVersion:
      type: string
      description: >
        An EDIFACT format version code (`FVYYYY`, e.g. `FV2510`), the keyword `current`, or an
        ISO date (`YYYY-MM-DD`). `current` is resolved server-side to the version valid right now
        and a date to the version valid on that day.
      example: 'FV2510'
    Format:
      type: string
      example: 'UTILMD'
    Version:
      type: object
      properties:
        version:
          type: string
          example: '1.0.3'
        buildDate:
          type: string
          example: '2024-01-15'
        commitHash:
          type: string
          example: 'a1b2c3d4'
        commitDate:
          type: string
          example: '2024-01-14'
        buildBranch:
          type: string
          example: 'main'
    DirectionValues:
      type: object
      properties:
        sender:
          type: array
          items:
            type: string
          example: ['LF', 'MSB', 'NB']
        empfaenger:
          type: array
          items:
            type: string
          example: ['LF', 'MSB', 'NB']
      required:
        - sender
        - empfaenger
    AhbDiff:
      type: object
      properties:
        lines:
          type: array
          items:
            $ref: '#/components/schemas/AhbDiffLine'
        meta:
          type: object
          properties:
            pruefidentifikator:
              type: string
              example: '55014'
            format_version_new:
              type: string
              example: 'FV2504'
            format_version_old:
              type: string
              example: 'FV2410'
            description_new:
              type: string
              nullable: true
              description: Description of the Pruefidentifikator in the new version
            description_old:
              type: string
              nullable: true
              description: Description of the Pruefidentifikator in the old version
          required:
            - pruefidentifikator
            - format_version_new
            - format_version_old
      required:
        - lines
        - meta
    AhbDiffLine:
      type: object
      description: A line in the AHB diff comparison, containing data from both versions joined from v_ahbtabellen
      properties:
        diff_status:
          type: string
          enum: [unchanged, modified, added, deleted]
          description: The diff status from v_ahb_diff
        id_path:
          type: string
          description: The id_path from v_ahb_diff used to join with v_ahbtabellen
        sort_path:
          type: string
          description: The sort_path for ordering
        changed_columns:
          type: array
          items:
            type: string
          description: List of column names that changed between versions
        old:
          $ref: '#/components/schemas/AhbDiffSide'
          description: Data from v_ahbtabellen for the old (B) version
          nullable: true
        new:
          $ref: '#/components/schemas/AhbDiffSide'
          description: Data from v_ahbtabellen for the new (A) version
          nullable: true
      required:
        - diff_status
        - id_path
        - sort_path
    AhbDiffSide:
      type: object
      description: AHB line data from v_ahbtabellen for one side of the comparison
      properties:
        segmentgroup_key:
          type: string
          nullable: true
        segment_code:
          type: string
          nullable: true
        data_element:
          type: string
          nullable: true
        qualifier:
          type: string
          nullable: true
        line_ahb_status:
          type: string
          nullable: true
        line_name:
          type: string
          nullable: true
        line_type:
          type: string
          nullable: true
        bedingung:
          type: string
          nullable: true
        ebd_key:
          type: string
          nullable: true
          description: EBD decision-tree key (e.g. E_0401) detected in qualifier, if any
    AhbDiffSummary:
      type: object
      description: Aggregated diff statistics per Pruefidentifikator
      additionalProperties:
        $ref: '#/components/schemas/AhbDiffStats'
      example:
        '11001': { added: 0, deleted: 0, modified: 0 }
        '11002': { added: 5, deleted: 2, modified: 12 }
    AhbDiffStats:
      type: object
      description: Count of changes by type for a single Pruefidentifikator
      properties:
        added:
          type: integer
          description: Number of lines added (exist only in new version)
        deleted:
          type: integer
          description: Number of lines deleted (exist only in old version)
        modified:
          type: integer
          description: Number of lines with content changes
      required:
        - added
        - deleted
        - modified
    Datenstand:
      type: object
      description: Latest publication date of the AHB data
      properties:
        veroeffentlichungsdatum:
          type: string
          description: Publication date in DD.MM.YYYY format
          example: '01.04.2025'
      required:
        - veroeffentlichungsdatum
    HealthCheckResponse:
      type: object
      description: Aggregated result of all individual health checks
      properties:
        finishedAt:
          type: integer
          description: Unix timestamp (seconds) at which the health check finished
          example: 1743500000
        checkResults:
          type: array
          items:
            $ref: '#/components/schemas/HealthCheckResult'
      required:
        - finishedAt
        - checkResults
    HealthCheckResult:
      type: object
      description: Result of a single health check
      properties:
        name:
          type: string
          example: 'SQLiteConnection'
        label:
          type: string
          example: 'SQLite Database Connection'
        notificationMessage:
          type: string
          nullable: true
          description: Message intended for notification channels, null when there is nothing to report
        shortSummary:
          type: string
          example: 'Connected - Tables verified'
        status:
          type: string
          enum:
            - ok
            - warning
            - failed
            - crashed
            - skipped
        meta:
          type: object
          description: Additional check-specific details
          additionalProperties: true
      required:
        - name
        - label
        - notificationMessage
        - shortSummary
        - status
    HealthCheckError:
      type: object
      description: Error returned when the health check secret is missing or invalid
      properties:
        error:
          type: string
          example: 'Invalid health check secret'
      required:
        - error
    ErrorResponse:
      type: object
      description: Standard error body produced by the global error handler
      properties:
        error:
          type: string
          description: Machine-readable error code
          example: 'EXTERNAL_SERVICE_ERROR'
        message:
          type: string
          description: Human-readable error message
          example: 'OH_DEAR_HEALTH_CHECK_SECRET environment variable is not set'
      required:
        - error
        - message
