<div class="search-table-container">
  <mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="onSortChange($event)"
    class="search-table">
    <!-- Format Version Column -->
    <ng-container matColumnDef="format_version">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Format Version</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ formatCellValue(row.format_version) }}</mat-cell>
    </ng-container>

    <!-- Format Column -->
    <ng-container matColumnDef="format">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Format</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ formatCellValue(row.format) }}</mat-cell>
    </ng-container>

    <!-- Prüfidentifikator Column -->
    <ng-container matColumnDef="pruefidentifikator">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prüfidentifikator</mat-header-cell>
      <mat-cell *matCellDef="let row" [class]="row.pruefidentifikator ? 'clickable-cell' : ''">
        <button
          *ngIf="row.pruefidentifikator"
          mat-button
          class="pruefidentifikator-button"
          (click)="onPruefidentifikatorClick(row)"
          [attr.aria-label]="'Navigate to AHB table for ' + formatCellValue(row.pruefidentifikator)"
          tabindex="0">
          {{ formatCellValue(row.pruefidentifikator) }}
          <mat-icon class="navigate-icon">open_in_new</mat-icon>
        </button>
        <span *ngIf="!row.pruefidentifikator" class="no-link-text">
          {{ formatCellValue(row.pruefidentifikator) }}
        </span>
      </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let row" class="description-cell">{{
        formatCellValue(row.description)
      }}</mat-cell>
    </ng-container>

    <!-- Segment Group Column -->
    <ng-container matColumnDef="segmentgroup_key">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Segment Group</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ formatCellValue(row.segmentgroup_key) }}</mat-cell>
    </ng-container>

    <!-- Segment Code Column -->
    <ng-container matColumnDef="segment_code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Segment Code</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ formatCellValue(row.segment_code) }}</mat-cell>
    </ng-container>

    <!-- Data Element Column -->
    <ng-container matColumnDef="data_element">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data Element</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ formatCellValue(row.data_element) }}</mat-cell>
    </ng-container>

    <!-- Qualifier Column -->
    <ng-container matColumnDef="qualifier">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Qualifier</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ formatCellValue(row.qualifier) }}</mat-cell>
    </ng-container>

    <!-- AHB Status Column -->
    <ng-container matColumnDef="line_ahb_status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>AHB Status</mat-header-cell>
      <mat-cell *matCellDef="let row" class="status-cell">{{
        formatCellValue(row.line_ahb_status)
      }}</mat-cell>
    </ng-container>

    <!-- Line Name Column -->
    <ng-container matColumnDef="line_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Line Name</mat-header-cell>
      <mat-cell *matCellDef="let row" class="line-name-cell">{{
        formatCellValue(row.line_name)
      }}</mat-cell>
    </ng-container>

    <!-- Bedingung Column -->
    <ng-container matColumnDef="bedingung">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Bedingung</mat-header-cell>
      <mat-cell *matCellDef="let row" class="bedingung-cell">{{
        formatCellValue(row.bedingung)
      }}</mat-cell>
    </ng-container>

    <!-- Direction Column -->
    <ng-container matColumnDef="direction">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Direction</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ formatCellValue(row.direction) }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageIndex]="page - 1"
    [pageSizeOptions]="[10, 25, 50, 100]"
    (page)="onPageChange($event)"
    showFirstLastButtons>
  </mat-paginator>
</div>
