<div class="min-h-screen flex flex-col">
  <section class="bg-hf-grell-rose flex-grow flex items-center justify-center px-4">
    <div
      class="rounded-3xl w-full max-w-md sm:max-w-lg md:w-1/2 lg:w-1/3 bg-hf-pastell-rose p-6 md:p-10 transition-all duration-300">
      <h1 class="text-2xl md:text-3xl text-hf-weiches-schwarz pb-3 md:pb-5">AHB-Tabellen</h1>
      <h2
        class="text-base md:text-lg border-b-2 border-hf-grell-rose text-hf-weiches-schwarz pb-2 md:pb-3 mb-3 md:mb-5 uppercase">
        Anwendungshandbücher für Menschen
      </h2>
      <div
        class="text-hf-weiches-schwarz space-y-2 md:space-y-3 border-b-2 border-dashed border-hf-grell-rose pb-3 md:pb-5 text-sm md:text-base">
        <p>
          AHB-Tabellen ist ein intuitives Tool, das die Navigation in Anwendungshandbüchern
          vereinfacht.
        </p>
        <p>
          Finde schnell, was du suchst – entweder direkt in der AHB-Tabelle oder über die globale
          Suche.
        </p>
      </div>
      <div class="text-hf-weiches-schwarz text-xs md:text-sm mt-3 md:mt-5 opacity-50 italic">
        <span class="font-medium">DISCLAIMER:</span> Wir geben unser Bestes, dass alle Daten korrekt
        und vollständig sind – können aber trotzdem nicht ausschließen, dass sich vereinzelt Fehler
        einschleichen.
      </div>
      <div class="mt-6 md:mt-10 flex justify-center relative z-10">
        <button
          (click)="onOpenClick()"
          class="flex flex-row items-center gap-2 rounded-full bg-hf-grell-rose text-hf-weiches-schwarz text-base md:text-lg px-4 md:px-5 py-2 md:py-3 hover:ring-black/10">
          <img
            src="assets/companystylesheet/icons/login.svg"
            alt="Login Icon"
            class="w-4 h-4 md:w-5 md:h-5 filter" />
          <span class="hover:underline">Jetzt öffnen</span>
        </button>
      </div>
    </div>
  </section>
  <app-footer />
</div>
